/* cabeçalho */
header nav{
    background-color: #ffffff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.247);
    color: black;
    box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.13);
}

.img img {
    height: 70vh;
    margin-top: 150px;
}

.carousel-caption h3 {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 15%;
    background-color: #ffffffa6;
    border-radius: 8px;
    color: #ffffff;
    text-shadow: 5px 5px 3px rgba(0, 0, 0, 0.74);
}

/* descrição */

.desc {
    display: flex;
    flex-direction: column;
    padding: 50px 0;
}

.desc h3 {
    display: flex;
    justify-content: center;
    /* margin-top: 50px; */
    margin-bottom: 50px; 
}

.texto {
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-bottom: 50px; */
}

.texto p{
    text-align: justify;
    width: 900px;
}

/* produtos */

.text h2 {
    display: flex;
    justify-content: center;
    margin-top: 140px;
    margin-bottom: -170px;
}

.prod-inline {
    display: flex;
    max-width: 100%;
    flex-wrap: wrap;
    /* flex-direction: row; */
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    padding: 50px 0;
}

.prod-inline .prod {
    margin: 35px;
}

.prod {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.24);
    box-shadow: 10px 10px 6px rgba(0, 0, 0, 0.11);
    border-radius: 8px;
    width: 280px;
}

.prod img {
    display: block;
    margin: 0 auto;
    width: 150px;
    height: 200px;
    object-fit: contain;
    margin-top: 20px;
    margin-bottom: 15px;
}

.descricao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 80px;
}

p {
    font-weight: bold;
    text-align: center;
}

button {
    max-width: 220px;
}

/* footer {
    margin-top: 50px;
} */

